@font-face {
    font-family: 'KG Miss Steward';
    src: url('KGMissSteward.woff2') format('woff2'),
        url('KGMissSteward.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

