.add-task {
    border: none;
    background: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    height: 30px;
    width: 300px;
}

.content-addtask {
    display: flex;
    grid-row: 2 / 3;
    transform: translateY(50px);
}

.print-tasks {
    grid-row: 3 / 4;
}

.close-form,
.submit-button {
    font-size: 12px;
    width: 55px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(204, 229, 250);
}