.add-task {
    border: none;
    background: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    height: 30px;
    width: 300px;
    cursor: pointer;
}

.content-addtask {
    display: flex;
    grid-row: 2 / 3;
    transform: translateY(50px);
    height: 30px;
}




.form {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form > label {
    transform: translateX(45px);
}

.form-buttons {
    transform: translateY(30px);
}


.descriptionHolder,
.dateHolder {
    display: flex;
    gap: 70px;
    transform: translateY(15px);
}

#Date  {
    transform: translateX(115px);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.close-form,
.submit-button {
    font-size: 12px;
    width: 55px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(204, 229, 250);
}

.print-tasks {
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30px, 50px));
    justify-items: center;
    align-items: center;
}


.print-tasks > div {
    display: flex;
    gap: 8px;
}

.task-card {
    /* background-color: #ffffffee; */
    height: 50px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.1); */
    border-radius: 25px

}