#side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    
}

.dashboard {
    height: 100%;
    margin: 30px 20px 30px;
    background-color: #F4F4F4;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    display: grid;
    grid-template-rows: 150px 40px 40px 40px 120px 1fr 40px 60px;
    grid-template-columns: 30px 1fr 30px;
    padding-top: 20px;
    font-family: 'Montserrat';
}

.dashboard-title {
    display: flex;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.dashboard-title svg {
  
    align-self: start;
    transform: translateY(9px);
}

.dashboard-menu {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 700;
}

.dashboard-task {
    font-size: 0.8rem;
    font-weight: 600;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    letter-spacing: 5px;
}

.dashboard-inbox {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
}

.today {
    transform: translateY(1px);
}

.today,
.week,
.inbox,
.add-project,
.settings,
.sign-out {
    border: none;
    background: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.dashboard-today {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    
}

.dashboard-week {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    display: flex;
    align-items: start;
    transform: translateY(5px);
}

.dashboard-week svg {
    transform: translateY(5px);
}


.dashboard-inbox,
.dashboard-today,
.dashboard-week {
    gap: 10px;
}

.dashboard-today svg,
.dashboard-inbox svg,
.dashboard-week svg,
.dashboard-settings svg {
    width: 20px;
    height: 20px;
}

.dashboard-project {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.add-project {
    font-size: 1rem;
    transform: translateX(10px);
}

.dashboard-settings {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    display: flex;
    align-items: start;
    gap: 5px;
}

.dashboard-settings svg {
    transform: translateY(5px);
}

.dashboard-signout {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    display: flex;
    align-items: start;
    gap: 5px;
}

.dashboard-signout svg {
    transform: translateY(5px);
}