/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-template-rows: 80px 1fr;
}

@font-face {
    font-family: 'OldNewspaperTypes';
    src: url('./assets/fonts/OldNewspaperTypes.woff2') format('woff2'),
        url('./assets/fonts/OldNewspaperTypes.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KGMissSteward';
    src: url('./assets/fonts/KGMissSteward.woff2') format('woff2'),
        url('./assets/fonts/KGMissSteward.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


